/* Desktop Views ****************************/
/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

	.address-box {
		font-size: 1.15rem;
		padding-top: 3vh;
		margin-right: 6vw;
		text-align: left;
	}

	.map {
		padding-top: 4vh;
	}

	.contact-container {
		grid-template-columns: 2fr;
		height: 350px;
		font-size: 1.15rem;
		margin-left: 13vw;
		margin-right: 13vw;
		width: 74vw;
	}

	.contact-container-gallery {
		grid-template-columns: 2fr;
		height: 350px;
		font-size: 1.15rem;
		margin-left: 13vw;
		margin-right: 13vw;
		width: 74vw;
	}


	.gallery-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
		grid-gap: .5rem;
		background-color: white;
	}
	
	.gallery-content-box1 {
		display: flex;
		grid-column: 1;
		position: relative;
		margin: 0 0 1rem 0;
		border: none;
		justify-content: center;
		font-style: italic;
		font-size: 0.85rem;
		height: auto;
		width: 100%;
		background-color: #cccccc;
	}
	
	.gallery-content-box2 {
		display: flex;
		grid-column: 2;
		position: relative;
		border: none;
		/* padding-bottom: 1rem; */
		justify-content: center;
		font-style: italic;
		font-size: 0.85rem;
		height: auto;
		width: 100%;
		background-color: #cccccc;
	}

	.gallery-content-box3 {
		display: flex;
		grid-column: 3;
		position: relative;
		border: none;
		/* padding-bottom: 1rem; */
		justify-content: center;
		font-style: italic;
		font-size: 0.85rem;
		height: auto;
		width: 100%;
		background-color: #cccccc;
	}

	.gallery-fig {
		Display: block;
		position: absolute;
		font-weight: 600;
		left: 0;
		text-align: left;
		bottom: 1rem;
	}
	
	.gallery-h2 {
		font-size: 1.5rem;
		display: block;
		position: relative;
		margin: 0 auto;
		top: 1rem;
	}

	.gallery-pic {
		display: block;
		position: relative;
		margin: 1rem auto;
		height: auto;
		width: 100%;
		
	}


	.headings h1 {
		font-size: 3rem;
	}

	.hero-container {
		margin-left: 13vw;
		margin-right: 13vw;
		width: 74vw;
	}

	
	.hero-image {
		background-image: url("../images/scene.jpg"); /* The image used */
		height: 500px; /* You must set a specified height */
	  }

	.hero-image {
		/* background-image: url("../images/scene.jpg");  */
		background-image: url("../images/franklin1200.jpg"); /* The image used */
		height: 500px; /* You must set a specified height */
	}


	h2 {
		font-size: 2.25rem;	
	}

	h3 {
		font-size: 1.5rem;
	}

	.logo img {
		width: 8rem;
		height: auto;
	}

	nav a {
		font-size: 1.1rem;
		}
	
	.p-stats {
		left: .25rem;
		font-size: 1rem;
		text-align: left;
		justify-content: left;
		position: relative;
		padding-right: 0;
	}
	

	#rodeo-box {
		font-size: 1.15rem;
		margin-left: 13vw;
		margin-right: 13vw;
		width: 74vw;
	}

	#rodeo-box2 {
		font-size: 1.15rem;
		margin-left: 13vw;
		margin-right: 13vw;
		width: 74vw;
	}
	.rodeo-pic {
		width: 300px;
		height: 225px;
		padding: 15px;
		float: right
	}

	.stat-summary {
		display: block;
		position: relative;
		height: 11rem;
		width: 14rem;
		top: -30rem;
		left: 1rem;
		font-size: 1.25rem;
		}


	ul {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	.weather-container {
		margin-left: 20vw;
		margin-right: 20vw;
		width: 60vw;
	}

	.weather-container2 {
		width: 76vw;
		margin-left: 12vw;
		margin-right: 14vw;
		border-radius: 3px;
		font-size: 1.15rem;
		top: 5rem;
	}

	.weather-container7 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
		margin: 0 0 2rem 0;
		border: none;
		padding: 1rem;
		width: 80%;
		margin-left: 20vw;
		margin-right: 20vw;
		width: 60vw;
		top: 4rem;
	}




/*----------- BODY --------------*/

/*----------- FORM --------------*/

.weather-container-storm {
	display: block;
	position: relative;
	margin: 0 0 2rem 0;
	border: none;
	padding: 1rem;
	/* width: 80%; */
	/* margin-left: 20vw; */
	/* margin-right: 20vw; */
	/* width: 60vw; */
	max-width: 74vw;
	margin-left: 12vw;
	margin-right: 13vw;
	top: 1rem;
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

form label.sbs {
    padding: .4rem 0;
}

/*----------- FOOTER --------------*/
    
.footer3 {
    width: 74vw;
    margin-left: 13vw;
    margin-right: 13vw;
    border-radius: 3px;
    font-size: 1.15rem;
}

.footer2 {
    width: 74vw;
    margin-left: 13vw;
    margin-right: 13vw;
    border-radius: 3px;
    font-size: 1.15rem;
    top: 5rem;
}

.footer-storm {
	max-width: 74vw;
	margin-left: 13vw;
	margin-right: 13vw;
	border-radius: 3px;
	font-size: 1.15rem;
}

} /* end of media query */

/* Xtra Lage Desktop Views ****************************/
@media only screen and (min-width: 80em) {
	ul {
		margin-left: 8rem;
		margin-right: 8rem;
	}


    


    /* header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    } */
}